<settings>
  <setting id="probability1"      label="30000" type="slider" option="float" range="0.01,0.01,1.0" default="0.35"/>
  <setting id="probability2"      label="30001" type="slider" option="float" range="0.01,0.01,1.0" default="0.35"/>
  <setting id="probability3"      label="30002" type="slider" option="float" range="0.01,0.01,1.0" default="0.15"/>
  <setting id="probability4"      label="30003" type="slider" option="float" range="0.01,0.01,1.0" default="0.15"/>
</settings>
